/*
  Created by: guinatal
*/
body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #333333;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #235480;
}

.header h1 {
  color: #FFFFFF;
  font-size: 26px;
  position: relative;
  display: inline-block;
  margin: 15px 0;
}

.content{
  overflow: auto;
  margin-top: 80px;
}

.content .photo{
  border-radius: 50%;
  width: 200px;
}

.content .content-left{
  display: inline-block;
  vertical-align: middle;
}
.content .content-right{
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
}

.content .content-right .description{
  font-size: 26px;
}

@media (max-width: 600px) {

  .header h1 {
    font-size: 22px;
  }

  .content .content-right {
    display: block;
    margin-left: 0;
  }

  .content .content-right .description{
    font-size: 22px;
  }

}

ul {
  list-style-type: none;
  padding: 0px;
}

ul li {
  margin-bottom: 15px;
  margin-right: 25px;
  display: inline;
}

ul li a {
  font-size: 36px;
  text-decoration: none;
  color: black;
  transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out;
}

/* Effects */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0; /* invisible from the start */
	-webkit-animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;

  -webkit-animation-delay: 0.3s; /* delay to start */
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
